{% import "macros/social_icon.svg.html" as macro_social -%}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ config.extra.papermod.home_title }}</h1>
    </header>
    <div class="entry-content">
        {% block home_entry_content %}
        <p>
        Welcome! (or welcome back, if you have visited previously 😁!) We
        will be starting a new series on Argentina's "Dirty War" (1976 - 1983).
        If you are unfamiliar with this period in Argentinian history, you can
        reference <a href="{{ get_url(path='@/posts/Dirty-War.md') }}">this
        wonderful article</a> (written by yours truly!). And don't worry, I
        will recap important events as they come up in the articles.
        </p>
        <p>
        This series explores American intervention-or their deliberate
        non-intervention-in Argentina's "Dirty War," arguing that U.S. inaction
        created the conditions in which state repression escalated into
        widespread terror and human rights violations.
        </p>
        {% endblock %}
    </div>
    <footer class="entry-footer">
        {% include "partials/social_icons.html" %}
    </footer>
</article>
