:root {
    --accent: #a855f7;
    --accent-hover: #9333ea;
    --border: rgb(228, 228, 228);
}

.dark {
  --theme: #1f1f1f;
  --entry: #1a1a1a;
  --border: rgb(60, 60, 60);
}


.posts-container {
    max-width: 1280px;
    margin: 0 auto 4rem;
    padding: 0 2rem;
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 0.25rem;
}

.post-card {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 1px solid var(--border);
    background: var(--entry);
    overflow: hidden;
    cursor: pointer;
}

.post-card:hover {
    transform: translateY(-4px);
}

.post-text {
  margin: 8px 0;
  color: var(--secondary);
  font-size: 14px;
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.post-text h2 {
  font-size: 24px;
  line-height: 1.3;
}

.post-meta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
}

.post-footer {
  color: var(--text-secondary);
  font-size: 13px;
}

.post-category {
    color: var(--accent);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

